.login-page-text {
  /* text-align: center; */
  position:absolute;
  top: 50%;
  left: 49%;
  margin-top:-50px;  
  margin-left:-100px;
}

label {
  padding: 10px;
}

input {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #908b7c;
}
.submit-btn {
  margin-top: 10px;
  padding: 5px;
  border: #908b7c solid 1px;
  border-radius: 5px;
  text-transform: lowercase;
  letter-spacing: 2px;
  background-color: #908b7c;
  color: #F8F4E3;
}

.submit-btn:hover {
  background-color: #706C61;
}
