
.card {
  border-radius: 15px;
  width: 16rem;
  height: 24rem;
  margin: 0 auto;
}


img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: grayscale(80%)
}

img:hover {
  filter: grayscale(0);
}

h2, p {
  color: #706C61;
}

h2 {
  text-transform: lowercase;
  font-size: 20px;
  letter-spacing: 1px;
  
}

p {
  font-weight: 600;
}
